/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
---------------------------------------------------------------



# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main - Styles specific to each topic goes here
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
    
}

h1{
    color: rgb(108, 4, 108);
    background-color: rgb(200, 197, 197);
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.svg-use{
    color: rgb(108, 4, 108);
    background-color: rgb(200, 197, 197);
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.image-container img{
    width: 200px;
    height: 200px;
}

.image-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    
}

.fig-cap{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px;
    gap: 50px;
}


/* Typography
--------------------------------------------- */

/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header 
--------------------------------------------- */

/* Main
--------------------------------------------- */

/* *************** Common Uses **************** */

.icon-examples img {
    height: 3rem;
}

.artwork-examples img {
    height: 8rem;
}

/* *************** Basic Features **************** */

.basic-demo-btn {
    border: none;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    cursor: pointer;
}

.basic-demo-desc.open {
    display: block;
}

.basic-demo-desc {
    display: none;
    width: 80%;
}

.basic-features img {
    height: 10rem;
    display: block;
    margin: 0 auto;
}

/* Footer 
--------------------------------------------- */
