/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main - Styles specific to each topic goes here
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

/* Typography
--------------------------------------------- */

/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header 
--------------------------------------------- */

/* Main
--------------------------------------------- */

/* *************** Common Uses **************** */

.icon-examples img {
    height: 3rem;
}

.artwork-examples img {
    height: 8rem;
}

/* *************** Basic Features **************** */

.basic-demo-btn {
    border: none;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    cursor: pointer;
}

.basic-demo-desc.open {
    display: block;
}

.basic-demo-desc {
    display: none;
    width: 80%;
}

.basic-features img {
    height: 10rem;
    display: block;
    margin: 0 auto;
}

/* Footer 
--------------------------------------------- */
